name: "My CI/CD pipeline"

on:
  push:
    branches:
      - "main"

jobs:
  important-automations:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Install NPM packages
        run: npm ci

      - name: Run Vitest unit tests
        run: npm run test:ci

      - name: Display Vitest results in GitHub Actions summary
        uses: "mikepenz/action-junit-report@v5"
        if: (!cancelled())
        with:
          report_paths: "./.unit_test_results/junit-results.xml"
          check_name: "Vitest unit/integration test results"
          job_summary: true
          detailed_summary: true
          check_annotations: false
          comment: false
          skip_annotations: true
          include_passed: true

      - name: Display Vitest code coverage in GitHub Actions summary
        if: always()
        uses: davelosert/vitest-coverage-report-action@v2
        with:
          json-final-path: "./.unit_test_results/coverage/coverage-final.json"
          json-summary-path: "./.unit_test_results/coverage/coverage-summary.json"
          name: "Vitest code coverage"

      - name: Install browsers for Playwright
        run: npx playwright install

      - name: Run localhost Playwright E2E tests
        run: npm run test:e2e:localhost

      - name: Display localhost Playwright results in GitHub Actions summary
        uses: ctrf-io/github-test-reporter@v1
        with:
          report-path: "./.e2e_test_results/ctrf-report.json"
          github-report: true
          title: "Playwright E2E test results against localhost"
        if: always()
